.bac-img {
    height: 100vh;
    background-image: url("../images/slider-bg.jpg");
    background-size: cover;
}

.img-1 {
    height: 200px;
    width: 45vw;
    background-color: #f0f0f0;
}

.img-1 img {
    max-height: 80px;
    max-width: 80px;
}

.img-con h4:hover {
    color: aqua;
    cursor: pointer;
}

.nav-links a:hover {
    background-color: yellowgreen;
    border-radius: 10%;
}

.img-box img {
    height: 80px;
    width: 80px;
}

.track-img {
    background-image: url(images/track-bg.jpg);
    height: 80%;
    background-repeat: no-repeat;
}